@charset "UTF-8";
body {
  max-width: 1140px;
  margin: 0 auto;
}

.configurator_wrapper * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Quincy CF', sans-serif;
}

.configurator_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.configurator_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.configurator_header .configurator_header_heading {
  text-align: center;
  margin: 30px 0;
}

.configurator_header .configurator_select_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.configurator_header .configurator_select_image .configurator_select_image_item {
  height: 150px;
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.configurator_header .configurator_select_image .configurator_select_image_item:nth-child(1)::before, .configurator_header .configurator_select_image .configurator_select_image_item:nth-child(2)::before {
  content: "Xит продаж!";
  position: absolute;
  top: -17px;
  font-size: 11px;
  color: red;
  font-weight: bold;
  letter-spacing: 1px;
}

.configurator_header .configurator_select_image .configurator_select_image_item .configurator_select_image_item_img {
  border: 2px solid #D54523;
  border-radius: 5px;
  max-height: 80px;
  max-width: 80px;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
  -webkit-transition: all 170ms ease-in;
  transition: all 170ms ease-in;
}

.configurator_header .configurator_select_image .configurator_select_image_item .configurator_select_image_item_header_name {
  margin-bottom: 5px;
}

.configurator_header .configurator_select_image .configurator_select_image_item .configurator_select_image_item_logo {
  max-width: 80px;
  max-height: 30px;
  width: 100%;
  height: 100%;
}

.configurator_header .configurator_select_image .configurator_select_image_item:hover .configurator_select_image_item_img {
  -webkit-box-shadow: 3px 3px 0px 0px #801c1c;
          box-shadow: 3px 3px 0px 0px #801c1c;
}

.configurator_header .configurator_select_image .configurator_select_image_item_active .configurator_select_image_item_img {
  -webkit-box-shadow: 3px 3px 0px 0px #801c1c;
          box-shadow: 3px 3px 0px 0px #801c1c;
}

.configurator_section_head {
  margin-top: 50px;
  width: 100%;
}

.configurator_section_head .configurator_body_heading {
  text-align: center;
}

.configurator_section_head .configurator_body_description_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  position: relative;
}

.configurator_section_head .configurator_body_description_heading .configurator_body_description_heading_name {
  margin-bottom: 5px;
  font-weight: bold;
}

.configurator_section_head .configurator_body_description_heading .configurator_select_image_item_logo {
  max-width: 80px;
  max-height: 30px;
  width: 100%;
  height: 100%;
}

.configurator_section_head .configurator_body_description_heading::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-35%, -50%);
          transform: translate(-35%, -50%);
  left: 35%;
  width: 12%;
  height: 1px;
  background: #D54523;
}

.configurator_section_head .configurator_body_description_heading::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(35%, -50%);
          transform: translate(35%, -50%);
  right: 35%;
  width: 12%;
  height: 1px;
  background: #D54523;
}

.configurator_section_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 20px;
}

.configurator_section_one .configurator_section_one_left_column {
  border: 2px solid #D54523;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
  width: 100%;
  height: auto;
  margin-right: 5px;
}

.configurator_section_one .configurator_section_one_left_column .configurator_body_image {
  border-radius: 30px;
  width: 233px;
  height: 222px;
}

.configurator_section_one .configurator_section_one_right_column {
  max-width: 400px;
  width: 100%;
  border: 2px solid #D54523;
  border-radius: 10px;
  padding: 20px;
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.configurator_section_two {
  margin-top: 5px;
  margin-bottom: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.configurator_section_two .configurator_footer_heading {
  text-align: center;
}

.configurator_section_two .configurator_section_two_column_one {
  padding: 20px;
  border: 2px solid #D54523;
  border-radius: 15px;
  max-width: 400px;
  width: 100%;
  margin-right: 5px;
}

.configurator_section_two .configurator_section_two_column_one .configurator_select_fill_wrapper {
  text-align: center;
}

.configurator_section_two .configurator_section_two_column_one .configurator_select_fill_wrapper .configurator_select_fill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 10px 0;
}

.configurator_section_two .configurator_section_two_column_one .configurator_select_fill_wrapper .configurator_select_fill div {
  border: 1px solid #D54523;
  background: #D54523;
  border-radius: 10px;
  cursor: pointer;
  padding: 3px 6px;
  font-weight: bold;
  color: #fff;
  -webkit-transition: all 170ms ease-in;
  transition: all 170ms ease-in;
  -webkit-box-shadow: 1px 1px 0px 0px #801c1c;
          box-shadow: 1px 1px 0px 0px #801c1c;
}

.configurator_section_two .configurator_section_two_column_one .configurator_select_fill_wrapper .configurator_select_fill div:hover {
  background: #fff;
  color: #D54523;
}

.configurator_section_two .configurator_section_two_column_one .configurator_select_fill_wrapper .configurator_select_fill .configurator_select_fill_active {
  background: #fff;
  color: #D54523;
}

.configurator_section_two .configurator_section_two_column_one .configurator_footer_payment {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.configurator_section_two .configurator_section_two_column_one .configurator_footer_payment p {
  min-width: 85px;
}

.configurator_section_two .configurator_section_two_column_one .configurator_footer_payment .configFooterPrice {
  min-width: 105px;
  text-align: right;
  margin-right: 10px;
}

.configurator_section_two .configurator_section_two_column_one .configurator_footer_payment .configurator_footer_payment_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.configurator_section_two .configurator_section_two_column_one .configurator_footer_freezer {
  margin: 20px 0;
}

.configurator_section_two .configurator_section_two_column_one .configurator_footer_freezer .configurator_footer_freezer_heading h4 {
  font-weight: normal;
  margin-bottom: 20px;
}

.configurator_section_two .configurator_section_two_column_one .configurator_footer_freezer .configurator_footer_freezer_heading span {
  font-size: 14px;
  font-weight: normal;
}

.configurator_section_two .configurator_section_two_column_one .configurator_footer_freezer .configurator_footer_freezer_checkbox {
  border-bottom: 2px solid #D54523;
}

.configurator_section_two .configurator_section_two_column_one .configurator_footer_freezer .configurator_footer_freezer_checkbox .configurator_footer_freezer_checkbox_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.configurator_section_two .configurator_section_two_column_one .configurator_footer_freezer .configurator_footer_freezer_checkbox .configurator_footer_freezer_checkbox_item .configurator_footer_checkbox_wrapper .configurator_footer_checkbox_wrapper_name {
  max-width: 150px;
  min-width: 140px;
}

.configurator_section_two .configurator_section_two_column_one .configurator_footer_freezer .configurator_footer_freezer_checkbox .configurator_footer_freezer_checkbox_item .configurator_footer_payment_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.configurator_section_two .configurator_section_two_column_one .configurator_footer_freezer .configurator_footer_freezer_checkbox .configurator_footer_freezer_checkbox_item .configurator_footer_payment_wrapper .price {
  margin-right: 10px;
}

.configurator_section_two .configurator_section_two_column_one .configurator_footer_mixer {
  margin: 20px 0;
  border-bottom: 2px solid #D54523;
}

.configurator_section_two .configurator_section_two_column_one .configurator_footer_mixer h4 {
  font-weight: normal;
  margin-bottom: 20px;
}

.configurator_section_two .configurator_section_two_column_one .configurator_footer_mixer .configurator_footer_mixer_checkbox .configurator_footer_mixer_checkbox_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.configurator_section_two .configurator_section_two_column_one .configurator_footer_mixer .configurator_footer_mixer_checkbox .configurator_footer_mixer_checkbox_item .configurator_footer_checkbox_wrapper .configurator_footer_checkbox_wrapper_name {
  max-width: 150px;
  min-width: 140px;
}

.configurator_section_two .configurator_section_two_column_one .configurator_footer_mixer .configurator_footer_mixer_checkbox .configurator_footer_mixer_checkbox_item .configurator_footer_payment_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.configurator_section_two .configurator_section_two_column_one .configurator_footer_mixer .configurator_footer_mixer_checkbox .configurator_footer_mixer_checkbox_item .configurator_footer_payment_wrapper .price {
  margin-right: 10px;
}

.configurator_section_two .configurator_section_two_column_one .configurator_footer_other, .configurator_section_two .configurator_section_two_column_one .configurator_footer_other2 {
  margin: 20px 0;
}

.configurator_section_two .configurator_section_two_column_one .configurator_footer_other .configurator_footer_other_checkbox_item, .configurator_section_two .configurator_section_two_column_one .configurator_footer_other2 .configurator_footer_other_checkbox_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
  border-bottom: 2px solid #D54523;
  padding-bottom: 10px;
}

.configurator_section_two .configurator_section_two_column_one .configurator_footer_other .configurator_footer_other_checkbox_item .configurator_footer_checkbox_wrapper .configurator_footer_checkbox_wrapper_name, .configurator_section_two .configurator_section_two_column_one .configurator_footer_other2 .configurator_footer_other_checkbox_item .configurator_footer_checkbox_wrapper .configurator_footer_checkbox_wrapper_name {
  max-width: 150px;
  min-width: 140px;
}

.configurator_section_two .configurator_section_two_column_one .configurator_footer_other .configurator_footer_other_checkbox_item .configurator_footer_payment_wrapper, .configurator_section_two .configurator_section_two_column_one .configurator_footer_other2 .configurator_footer_other_checkbox_item .configurator_footer_payment_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.configurator_section_two .configurator_section_two_column_one .configurator_footer_other .configurator_footer_other_checkbox_item .configurator_footer_payment_wrapper .configurator_footer_checkbox_wrapper_price, .configurator_section_two .configurator_section_two_column_one .configurator_footer_other2 .configurator_footer_other_checkbox_item .configurator_footer_payment_wrapper .configurator_footer_checkbox_wrapper_price {
  margin-right: 10px;
}

.configurator_section_two .configurator_section_two_column_one .configurator_footer_total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 0;
}

.configurator_section_two .configurator_section_two_column_two {
  border: 2px solid #D54523;
  border-radius: 15px;
  padding: 20px 40px;
  max-width: 400px;
  margin-left: 5px;
}

.configurator_section_two .configurator_section_two_column_two h2 {
  margin: 10px 0 30px 0;
}

.configurator_footer_mixer_checkbox_wrapper_item,
.configurator_footer_freezer_checkbox_wrapper_item,
.configurator_footer_other_checkbox_wrapper_item {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background: #c9c9c9;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #D54523 !important;
  font-weight: bold;
}

.configurator_footer_default_checkbox_wrapper_item {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background: #c9c9c9;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #585858 !important;
  font-weight: bold;
}

.configuratorPromt {
  position: relative;
}

.configuratorPromt .configuratorPromtHover {
  cursor: pointer;
}

.configuratorPromt .configuratorPromtHidden {
  display: none;
  position: absolute;
  bottom: 130%;
  left: 0px;
  background-color: #fff;
  color: #D54523;
  padding: 5px;
  text-align: center;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
  font-size: 16px;
}

.configuratorPromt .configuratorPromtHover + .configuratorPromtHidden:before {
  content: " ";
  position: absolute;
  top: 98%;
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #fff;
  border-color: #fff transparent transparent transparent;
  z-index: 2;
}

.configuratorPromt .configuratorPromtHover + .configuratorPromtHidden:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #fff;
  border-color: rgba(0, 0, 0, 0.16) transparent transparent transparent;
  z-index: 1;
}

.configuratorPromt .configuratorPromtHover:hover + .configuratorPromtHidden {
  display: block;
}

@media screen and (max-width: 926px) {
  .configurator_section_two_column_two,
  .configurator_section_one_right_column,
  .configurator_section_one_left_column,
  .configurator_section_two_column_one {
    max-width: 400px !important;
  }
}

@media screen and (max-width: 827px) {
  .configurator_section_two_column_two,
  .configurator_section_one_right_column,
  .configurator_section_one_left_column,
  .configurator_section_two_column_one {
    max-width: 300px !important;
  }
}

@media screen and (max-width: 680px) {
  .configurator_section_head .configurator_body_description_heading::before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-20%, -50%);
            transform: translate(-20%, -50%);
    left: 20%;
    width: 12%;
    height: 1px;
    background: #D54523;
  }
  .configurator_section_head .configurator_body_description_heading::after {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translate(20%, -50%);
            transform: translate(20%, -50%);
    right: 20%;
    width: 12%;
    height: 1px;
    background: #D54523;
  }
}

@media screen and (max-width: 626px) {
  .configurator_section_two_column_two,
  .configurator_section_one_right_column,
  .configurator_section_one_left_column,
  .configurator_section_two_column_one {
    margin: 5px 5px !important;
  }
  .configurator_section_two_column_one {
    margin: 0 !important;
  }
}

@media screen and (max-width: 406px) {
  .configurator_select_image .configurator_select_image_item {
    border-bottom: 2px solid #D54523;
    margin-top: 15px;
  }
  .configurator_footer_payment {
    border-bottom: 2px solid #D54523;
  }
}

@media screen and (max-width: 276px) {
  .configurator_select_image .configurator_select_image_item {
    border-bottom: none;
    margin-top: 15px;
  }
}
/*# sourceMappingURL=style.css.map */